USE [master]
GO
/****** Object:  Database [BDD_ALTEN_PRODUCT]    Script Date: 19/05/2023 15:13:35 ******/
CREATE DATABASE [BDD_ALTEN_PRODUCT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDD_ALTEN_PRODUCT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BDD_ALTEN_PRODUCT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDD_ALTEN_PRODUCT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BDD_ALTEN_PRODUCT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDD_ALTEN_PRODUCT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDD_ALTEN_PRODUCT]
GO
/****** Object:  User [user_back]    Script Date: 19/05/2023 15:13:35 ******/
CREATE USER [user_back] FOR LOGIN [user_back] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [user_back]
GO
ALTER ROLE [db_datareader] ADD MEMBER [user_back]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [user_back]
GO
/****** Object:  Table [dbo].[T_PRODUCT]    Script Date: 19/05/2023 15:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_PRODUCT](
	[D_ID] [int] IDENTITY(1,1) NOT NULL,
	[D_CODE] [varchar](50) NOT NULL,
	[D_NAME] [varchar](50) NOT NULL,
	[D_DESCRIPTION] [varchar](500) NOT NULL,
	[D_PRICE] [float] NOT NULL,
	[D_QUANTITY] [int] NOT NULL,
	[D_INV_STATUS] [varchar](50) NOT NULL,
	[D_CATEG] [varchar](50) NOT NULL,
	[D_IMAGE] [varchar](100) NULL,
	[D_RATING] [float] NULL,
 CONSTRAINT [PK_T_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[D_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
